.app {
  min-width: 300px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: $primary-color;
  background-color: $main-color;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__unit {
    flex-shrink: 0;
  }

  &__footer {
    margin-top: auto;
  }
}
